{% extends "base.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        #About-us {
            background-color: rgb(255, 255, 255);
    </style>
</head>
<body>

    <div class="container">
        <h1>
            Hello there!
        </h1>
        <br/>
        <p id="About-us">
          Amateurs in all the programming languages, we code to inspire the world. <br/>
            Participating in hackathons is our motive for this website. During the early <br/>
            ages in 1635 the first school was built, however children were mostly taught at <br/>
            home and couldn't go to schools. Using this website could have very much helped children <br/>
            at these unfortunate time. <br/>
        </p>
    </div>
</body>
</html>
{% endblock %}