{% extends "base.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <h1>
            Hello there!
        </h1>
        <br/>
        <p>
          Amateurs in all the programming languages, we code to inspire the world.
            Participating in hackathons is our motive for this website. During the early
            ages in 1635 the first school was built, however children were mostly taught at
            home and couldn't go to schools. Using this website could have very much helped children at these unfortunate times
        </p>
    </div>
</body>
</html>
{% endblock %}