{% extends "base.html" %}
{% block content %}
{% if session['logged_in'] %}
   
	{% if data %}
	<h3>{{data}}</h3>

	{% else %}
	<style>
	p{text-align: justify; text-indent:30px;}
	img{float: right;}
}
</style>

<div class="container">
 <h1>
            About
        </h1>
	<img src="/static/bootstrap/img/shipport.jpg"
         alt="A picture of a village used to look in Virginia and how the house school looks like" width="250">
        <br/>

          <p>
                Hello Everyone! Welcome to Edugames, an educational website that allows students to develop basic reading <br/>
            and writing skills in the 17th century by using the power of technology in history. In 1635, the first <br/>
            school in the United States was finally opened in Boston, Massachusetts. This was located in the heart <br/>
            of the 13 colonies that came to America and began settlements along what is now the East Coast. Although <br/>
            the creation of the first public school was important, there were a lot of drawbacks. Most children <br/>
            couldn’t afford to attend school or they lived too far from school, so their parents had to homeschool <br/>
            them. Back then, Schools mainly taught male students about religion, family, and faith instead of academics <br/>
            like math, reading and writing. This prevented students from developing good problem solving, analytical, <br/>
            reasoning and communication skills that would help future generations advance society and create modern <br/>
            innovations. <br>
        </p>
<p>
    <img src="/static/bootstrap/img/shipport2.jpg" alt="A painting at a ship
port in Virginia" width="250">
        So, We have made a website to support students during their education in the 1600’s. Our website is enjoyable <br/>
            and engaging because we have included clear lessons, interactive games, and interesting quizzes to teach <br/>
            students and add a bit of fun to their studying. As their community builds more schools, the app can still <br/>
            serve as practice at any time!<br/>

    </p>

    <p>
        Now into more detail about when this happened. Colonial Virginia was politically controlled <br/>
        by wealthy landowners who relied on tutors and private schools to educate their children. <br/>

        It also depends on the social class of the family. The boys of upper class families were <br/>
        sent abroad to receive college or university graduation while lower class stayed at home <br/>        		<img src="/static/bootstrap/img/houseschool.jpg" alt="A painting at a ship
port in Virginia" width="250">
        and helped out in chores. Colonial people focused more on tasks like cleaning the farm and when <br/>
        they needed help the children did not go to school. Children usually go to school in the winter <br/>
        since there were fewer farm chores. They played many games including jump rope, tennis, hop <br/>
        scotch, hide and seek, and many more. Introducing kids' education at those times could <br/>
        potentially lead to innovations that help the hardworking people do their jobs easier. <br/>
    </p>

    <p>
		Math and english are useful in many situations such as speaking fluent english with people <br/>
        and handling taxing and food problems. The biggest problem about education was the poverty of <br/>
        the people. Most people lived in one room homes with dirt floors. Wealthy people dominated the <br/>

        community and benefited themselves instead of helping the community so they can increase their <br/>

		prices on goods. Most people couldn’t travel far places and thought that home schooling was <br/>
		the easier option. Now that you know all the information of the people living in the 1600’s, <br/>
		please check out our cool games, quizzes, and lessons to become more knowledgeable. <br/>
    </p>
	<br/>
	<br/>
	<br/>
	<br>

	<a id="logout" href="/logout">Logout</a>
    </div>

	{% endif %}

{% else %}
<style>
	p{text-align: justify; text-indent:30px;}
	img{float: right;}

</style>
<div class="container">
<h1>
            About
        </h1>
	<img src="/static/bootstrap/img/shipport.jpg"
         alt="A picture of a village used to look in Virginia and how the house school looks like" width="250">
        <br/>

        <p>
                Hello Everyone! Welcome to Edugames, an educational website that allows students to develop basic reading <br/>
            and writing skills in the 17th century by using the power of technology in history. In 1635, the first <br/>
            school in the United States was finally opened in Boston, Massachusetts. This was located in the heart <br/>
            of the 13 colonies that came to America and began settlements along what is now the East Coast. Although <br/>
            the creation of the first public school was important, there were a lot of drawbacks. Most children <br/>
            couldn’t afford to attend school or they lived too far from school, so their parents had to homeschool <br/>
            them. Back then, Schools mainly taught male students about religion, family, and faith instead of academics <br/>
            like math, reading and writing. This prevented students from developing good problem solving, analytical, <br/>
            reasoning and communication skills that would help future generations advance society and create modern <br/>
            innovations. <br>
        </p>
<p>
        So, We have made a website to support students during their education in the 1600’s. Our website is enjoyable <br/>
            and engaging because we have included clear lessons, interactive games, and interesting quizzes to teach <br/>
            students and add a bit of fun to their studying. As their community builds more schools, the app can still <br/>
            serve as practice at any time!<br/>

    </p>

    <p>
        Now into more detail about when this happened. Colonial Virginia was politically controlled <br/>
        by wealthy landowners who relied on tutors and private schools to educate their children. <br/>
        It also depends on the social class of the family. The boys of upper class families were <br/>
        sent abroad to receive college or university graduation while lower class stayed at home <br/>
        and helped out in chores. Colonial people focused more on tasks like cleaning the farm and when <br/>
		<img src="/static/bootstrap/img/shipport2.jpg" alt="A painting at a ship
port in Virginia" width="250">
        they needed help the children did not go to school. Children usually go to school in the winter <br/>
        since there were fewer farm chores. They played many games including jump rope, tennis, hop <br/>
        scotch, hide and seek, and many more. Introducing kids' education at those times could <br/>
        potentially lead to innovations that help the hardworking people do their jobs easier. <br/>
    </p>

    <p>
		Math and english are useful in many situations such as speaking fluent english with people <br/>
        and handling taxing and food problems. The biggest problem about education was the poverty of <br/>
        the people. Most people lived in one room homes with dirt floors. Wealthy people dominated the <br/>

        community and benefited themselves instead of helping the community so they can increase their <br/>
		<img src="/static/bootstrap/img/houseschool.jpg" alt="A painting at a ship
port in Virginia" width="250">
		prices on goods. Most people couldn’t travel far places and thought that home schooling was <br/>
		the easier option. Now that you know all the information of the people living in the 1600’s, <br/>
		please check out our cool games, quizzes, and lessons to become more knowledgeable. <br/>
    </p>
    </div>
{% endif %}
{% endblock %}
#this is html
