{% extends "base.html" %}
{% block content %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}
  {% if data %}
	<h3>{{data}}</h3>
	{% endif %}
<div class="container">
    <div class="hero-unit">
        <h2>Login</h2>
        <form action="/login" class="well" method="POST">
          <br/>
          <input type="username" class="span3" name="username" placeholder="Username">
          <br/>
          <input type="password" class="span3" name="password" placeholder="Password">
          <br/>
          <button type="submit" class="btn btn-lg btn-primary">Log In</button>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}