{% extends "base.html" %}
{% block content %}
{% if session['logged_in'] %}
{% else %}
	{% if data %}
	<h3>{{data}}</h3>
	{% endif %}
<div class="container">
    <div class="hero-unit">
        <h2 >Register</h2>
        <form action="/register/" class="well" method="POST">
          <br/>
          <input type="username" class="span3" name="username" placeholder="Enter Username">
          <br/>
          <input type="password" class="span3" name="password" placeholder="Enter Password">
          <br/>
          <input type="email" class="span3" name="email" placeholder="Enter Email">
          <br/>
          <button type="submit" class="btn btn-lg btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}